
<table  class="table table-hover">
    <thead class="thead-dark">
        <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Sales Volume</th>
                <th>Meet Quota</th>
        </tr>
      
    </thead>

    <tbody>
        <tr *ngFor="let person of salesPersonList">
            <td>{{ person.firstName }}</td>
            <td>{{ person.lastName }}</td>
            <td>{{ person.email }}</td>
            <td>{{ person.salesVolume | currency:'USD'}}</td>
            <td>
                    <p *ngIf="person.salesVolume >= 60000; else myElseBlock">Yes</p>
                    <ng-template #myElseBlock><h4>No</h4></ng-template>
            </td>
        </tr>
    </tbody>
</table>